<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myelegantapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyElegantApp">

        <!-- Registrar como administrador del dispositivo -->
        <meta-data
            android:name="android.app.device_admin"
            android:resource="@xml/device_admin_sample" />

        <!-- Servicio de administrador del dispositivo -->
        <service
            android:name=".MyAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="false"> <!-- Agregar esta línea para declarar el servicio -->
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
        </service>

        <!-- Actividad Principal -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyElegantApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras Actividades -->
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".HomeActivity" android:exported="true" />  <!-- Asegúrate de que esta línea esté presente -->

    </application>

</manifest>



